In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

df_data = pd.read_csv('./files/u.data',sep='|')

In [2]:

df_user = pd.read_csv('./files/u.user.csv',sep='|')
df_item = pd.read_csv('./files/u.item.csv',sep='|')

In [3]:
df_data.head()

   user.id  item.id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [4]:
df_user.head()

   id    age   gender         job     zip
0    1     24        M  technician  85711
1    2     53        F       other  94043
2    3     23        M      writer  32067
3    4     24        M  technician  43537
4    5     33        F       other  15213

In [5]:
df_data.columns

Index(['user.id', 'item.id', 'rating', 'timestamp'], dtype='object')

In [6]:
df_data.columns=['id', 'item.id', 'rating', 'timestamp']

In [7]:
df_data.head()

    id  item.id  rating  timestamp
0  196      242       3  881250949
1  186      302       3  891717742
2   22      377       1  878887116
3  244       51       2  880606923
4  166      346       1  886397596

In [8]:
df_data.columns

Index(['id', 'item.id', 'rating', 'timestamp'], dtype='object')

In [9]:
df_user.columns = ['id', 'age', 'gender', 'job', 'zip']

In [10]:

df_user_da = pd.merge(df_data, df_user, on='id')

In [11]:
job_counts = df_user_da['job'].value_counts()

In [12]:
students = df_user_da.loc[df_user_da['job'] == 'student'].rating

In [13]:
jobs = job_counts.index

In [14]:
type(jobs)

pandas.core.indexes.base.Index

In [15]:
for job in jobs:
    print(job)

student
other
educator
engineer
programmer
administrator
writer
librarian
technician
executive
healthcare
artist
entertainment
scientist
marketing
retired
lawyer
none
salesman
doctor
homemaker

In [16]:
dd = {}
for job in jobs:
    dd[job] = df_user_da.loc[df_user_da['job'] == job].rating

In [17]:
for k, v in dd.items():
    mean = dd[k].mean()
    print(str(k)+":"+str(mean))

programmer:3.5682604794257147
student:3.5151432345038027
librarian:3.560781338896264
artist:3.653379549393414
homemaker:3.301003344481605
engineer:3.541406727828746
scientist:3.611273080660836
retired:3.4667495338719703
healthcare:2.896219686162625
executive:3.3491037320011756
administrator:3.6356464768017114
other:3.5523773797242804
salesman:3.582943925233645
technician:3.5322304620650313
entertainment:3.4410501193317424
marketing:3.4856410256410255
lawyer:3.7353159851301116
educator:3.6706206312221985
none:3.779134295227525
writer:3.3757225433526012
doctor:3.688888888888889

In [18]:
df_user_da.columns = ['id', 'movie.id', 'rating', 'timestamp', 'age', 'gender', 'job', 'zip']
df_item.columns= ['movie.id','movie.title','release.date','video release date',
      'IMDb URL','unknown','Action','Adventure','Animation',
      'Childrens','Comedy','Crime','Documentary','Drama',
      'Fantasy','Film-Noir','Horror','Musical','Mystery',
      'Romance','Sci-Fi','Thriller','War','Western']

In [19]:
df_user_items = pd.merge(df_user_da, df_item, on='movie.id')

In [20]:
df_user_items.head()

,id,movie.id,rating,timestamp,age,gender,job,zip,movie.title,release.date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
1,305,242,5,886307828,23,M,programmer,94086,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42,M,executive,98101,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60,M,retired,94702,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31,M,marketing,75240,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_user_items.columns

Index(['id', 'movie.id', 'rating', 'timestamp', 'age', 'gender', 'job', 'zip',
       'movie.title', 'release.date', 'video release date', 'IMDb URL',
       'unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [22]:
df_user_items['movie.title'].value_counts()['Star Trek V: The Final Frontier (1989)']

63

In [23]:
df_movie_ratings = df_user_items[['movie.id', 'rating']]

In [24]:
ratings_movie = df_movie_ratings.groupby('movie.id')

In [25]:
r_matrix = df_user_items.pivot_table(values='rating', index='movie.id', columns='id')

In [26]:
r_matrix.head()

id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie.id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,NaN,NaN,4.0,4.0,NaN,NaN,NaN,4.0,...,2.0,3.0,4.0,NaN,4.0,NaN,NaN,5.0,NaN,NaN
2,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,5.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
r_matrix_dummy = r_matrix.copy().fillna(0)

In [28]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

In [30]:
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

In [31]:
movie_cosine = cosine_sim[450]

In [32]:
movies_index = movie_cosine.sort_values(ascending=False).head(11).index

In [33]:
df_item.columns = ['movie.id', 'movie.title', 'release.date', ' video release date ',
       ' IMDb URL ', ' unknown ', ' Action ', ' Adventure ', ' Animation ',
       ' Childrens ', ' Comedy ', ' Crime ', ' Documentary ', ' Drama ',
       ' Fantasy ', ' Film-Noir ', ' Horror ', ' Musical ', ' Mystery ',
       ' Romance ', ' Sci-Fi ', ' Thriller ', ' War ', ' Western']

In [34]:
movies = df_item[['movie.id','movie.title']]

In [35]:
ts = pd.Series(df_item['movie.title'].values, index=df_item['movie.id'])

In [36]:
for index in movies_index:
    print(ts[index])

Star Trek V: The Final Frontier (1989)
Star Trek: The Motion Picture (1979)
Star Trek VI: The Undiscovered Country (1991)
Star Trek III: The Search for Spock (1984)
Star Trek IV: The Voyage Home (1986)
Star Trek: The Wrath of Khan (1982)
Stargate (1994)
Star Trek: Generations (1994)
Die Hard 2 (1990)
Escape from New York (1981)
Conan the Barbarian (1981)

In [37]:
from scipy.stats import pearsonr

In [38]:
r_matrix_dummy.loc[[1]]

id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie.id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0

In [39]:
type(r_matrix_dummy.loc[[1]])

pandas.core.frame.DataFrame

In [40]:
tst = r_matrix_dummy.loc[[1]]

In [41]:
tst

id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie.id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0

In [42]:
tst2 = r_matrix_dummy.loc[[2]]

In [43]:
pearsonr(tst.values[0], tst2.values[0])

(0.2345945327074386, 2.9533856737571763e-13)

In [44]:
type(r_matrix.iloc[[449]])

pandas.core.frame.DataFrame

In [46]:
import math
votes = r_matrix.loc[450]
no_votes = []
for index, vote in votes.items():
    if math.isnan(float(vote)):
        no_votes.append(index)

In [47]:
len(no_votes)

880

In [48]:
def euclidean(v1, v2):
    v1 = np.array(v1)
    v2 = np.array(v2)
    
    diff = np.power(np.array(v1) - np.array(v2), 2)
    sigma_val = np.sum(diff)
    euclid_score = np.sqrt(sigma_val)
    return euclid_score

In [65]:
def euclidean2(v1, v2):
    diff = np.power(np.array(v1) - np.array(v2), 2)
    sigma_val = np.sum(diff)
    euclid_score = np.sqrt(sigma_val)
    return euclid_score

In [67]:
r_user_votes = df_user_items.pivot_table(values='rating', index='id', columns='movie.id')
r_user_votes_dummy = r_user_votes.copy().fillna(0)

# Test euclidian
euclidean2(r_user_votes_dummy.loc[no_votes[0]].values, r_user_votes_dummy.loc[no_votes[1]].values)

65.25335240430181

In [75]:
no_votes_cp =list(no_votes)

In [95]:

import operator
def get_20_neighbors(user_id):
    dd_euclids = {}
    for peer in no_votes:
        if peer != user_id:
            dd_euclids[peer] = euclidean2(r_user_votes_dummy.loc[user_id].values, r_user_votes_dummy.loc[peer].values)
    sorted_d = sorted(dd_euclids.items(), key=operator.itemgetter(1))
    return sorted_d[:20]

In [99]:
dd_neighbors = {}
for user_id in no_votes:
    dd_neighbors[user_id] = get_20_neighbors(user_id)

In [109]:
ll = range(1,len(r_matrix.index))

In [112]:
tmp_euclids = {}
movie_id=450
for peer in range(1,len(r_matrix.index)):
    tmp_euclids[peer] = euclidean2(r_matrix_dummy.loc[movie_id].values, r_matrix_dummy.loc[peer].values)
sorted_d = sorted(tmp_euclids.items(), key=operator.itemgetter(1))

In [116]:
sorted_d[1:21]
top_20_movie_nbors = [x[0] for x in sorted_d[1:21]]

In [181]:
 def get_mean_for_items(matrix,items):   
    dd_nbors = {}
    for x in items:
        item_votes = matrix.loc[x].dropna()
        tmpL = list(item_votes.values)
        dd_nbors[x] = sum(tmpL)/(float(len(tmpL)))
    return dd_nbors

In [230]:
def get_top_20(ll):
    tmp_euclids = {}
    movie_id=450
    for peer in ll:
        tmp_euclids[peer] = euclidean2(r_matrix_dummy.loc[movie_id].values, r_matrix_dummy.loc[peer].values)
    sorted_d = sorted(tmp_euclids.items(), key=operator.itemgetter(1))
    return sorted_d[:20]

def get_top_20(ll):
    tmp_euclids = {}
    movie_id=450
    for peer in ll:
        tmp_euclids[peer] = euclidean2(r_matrix_dummy.loc[movie_id].values, r_matrix_dummy.loc[peer].values)
    sorted_d = sorted(tmp_euclids.items(), key=operator.itemgetter(1))
    return sorted_d[:20]

def get_rating_item_item_for_user(user_id):
    m_ratings = r_user_votes.loc[user_id]
    idx = m_ratings[m_ratings.isnull()].index
    #movies and ratings for the user_ex
    good_movies = m_ratings.dropna()
    #get top 20 neighbors to 450 from movies user_ex has rated
    top_20 = get_top_20(list(good_movies.index))
    top_20 = [x[0] for x in top_20]

    #for each item in the movie list, get mean rating 
    movie_mean_ratings = get_mean_for_items(r_matrix, top_20)
    movie_mean_ratings_for_420 = get_mean_for_items(r_matrix,[420])
    #for each item in the movie list, get cosine_weight
    #get cosine for movie 420 and neighbors
    cosine_weights = {}
    for x in top_20:
        cosine_weights[x] = cosine_sim.loc[420][x]

    g_mov_ratings = {}
    for x in top_20:
        g_mov_ratings[x] = good_movies[x]

    tmp_mr= sorted(g_mov_ratings.items(), key=operator.itemgetter(0))

    tmp_cw=sorted(cosine_weights.items(), key=operator.itemgetter(0))

    tmp_mmr = sorted(movie_mean_ratings.items(), key=operator.itemgetter(0))

    # g_mov_ratings
    tmp_mr1 = [x[1] for x in tmp_mr]

    tmp_cw1 = [x[1] for x in tmp_cw]

    # movie_mean_ratings
    tmp_mmr1 = [x[1] for x in tmp_mmr]
    subs = list(np.subtract(np.array(tmp_mr1), np.array(tmp_mmr1)))
    mults = [a*b for a,b in zip(tmp_cw1,subs)]
    sum_cw = (sum(mults))/(sum(tmp_cw1))
    return (movie_mean_ratings_for_420[420] + sum_cw)

In [232]:
# Question 3
vote_for_no_votes = {}
for x in no_votes:
    vote_for_no_votes[x] = get_rating_item_item_for_user(x)

In [247]:
# Question 4
votes_exist = []
for index, vote in votes.items():
    if math.isnan(float(vote)) == False:
        votes_exist.append(index) 
        
predicted_votes = {}
for x in votes_exist:
    predicted_votes[x] = get_rating_item_item_for_user(x)

In [251]:
real_votes = {}
for x in votes_exist:
    real_votes[x] = votes[x]

In [260]:
real_votes_sorted = sorted(real_votes.items(), key=operator.itemgetter(0))
pred_votes_sorted = sorted(predicted_votes.items(), key=operator.itemgetter(0))
real_votes = [x[1] for x in real_votes_sorted]
pred_votes = [x[1] for x in pred_votes_sorted]

In [261]:
from sklearn.metrics import mean_squared_error

In [262]:
np.sqrt(mean_squared_error(real_votes, pred_votes))

1.6519022703151693

In [321]:
# Question5
star_trek_movies = df_user_items.loc[df_user_items['movie.title'].str.contains("Trek")]['movie.id'].drop_duplicates().values

star_war_movies = df_user_items.loc[df_user_items['movie.title'].str.contains("Wars")]['movie.id'].drop_duplicates().values

In [322]:
star_war_movies = list(star_war_movies)
star_trek_movies = list(star_trek_movies)

In [352]:
star_war_movies.append(172)
star_war_movies.append(181)

In [419]:
ll = [float(0) for x in range(1682)]
s = pd.Series(ll, index=range(1,1683))
for idx in star_war_movies:
    s[idx] = float(1)
for idx in star_trek_movies:
    s[idx] = float(5)
user_votes = s

In [425]:
r_matrix.loc[702][10]

3.0

In [430]:
def get_user_nbors(user_votes, movie_id):
    nbors = {}
    my_mat = r_matrix.loc[movie_id].dropna()
    for i in my_mat.index:
        nbors[i] = euclidean2(s, r_user_votes_dummy.loc[i].values)
    nbors = sorted(nbors.items(), key=operator.itemgetter(1))
    nbors = nbors[:20]
    nbors = [x[0] for x in nbors]
    return nbors

In [378]:
# nbors = {}
# # my_mat = r_matrix.loc[movie_id].dropna()
# # # We know user id goes from 1 to 943
# # for i in range(1,944):
# #     nbors[i] = euclidean2(s, r_user_votes_dummy.loc[i].values)
# # nbors = sorted(nbors.items(), key=operator.itemgetter(1))
# # nbors = nbors[:20]
# # nbors = [x[0] for x in nbors]
# #for each item in the movie list, get mean rating 
# movie_mean_ratings_per_user = get_mean_for_items(r_user_votes, nbors)

# movie_mean_ratings_for_user = ((len(star_war_movies)) + (5*len(star_trek_movies)))/(len(star_war_movies) + len(star_trek_movies))

In [480]:
def l2_norm(a):
    return math.sqrt(np.dot(a, a))

def cos_similarity(a, b):
    return np.dot(a,b) / (l2_norm(a) * l2_norm(b))

In [516]:

def get_rating_for_user(user_votes, movie_id):
    nbors = get_user_nbors(user_votes, movie_id)
    mmr_per_user = get_mean_for_items(r_user_votes, nbors)

    mmr_for_user = ((len(star_war_movies)) + (5*len(star_trek_movies)))/(len(star_war_movies) + len(star_trek_movies))
    
                      
#     for each item in the movie list, get cosine_weight
    cos_weights = {}
    for x in nbors:
        cos_weights[x] = cos_similarity(user_votes.values, r_user_votes_dummy.loc[x].values)

    g_mov_ratings = {}
    for x in nbors:
        g_mov_ratings[x] = r_matrix.loc[movie_id][x]

    tmp_mr= sorted(g_mov_ratings.items(), key=operator.itemgetter(0))

    tmp_cw=sorted(cos_weights.items(), key=operator.itemgetter(0))

    tmp_mmr = sorted(mmr_per_user.items(), key=operator.itemgetter(0))

    # g_mov_ratings
    tmp_mr1 = [x[1] for x in tmp_mr]

    tmp_cw1 = [x[1] for x in tmp_cw]

    
    # movie_mean_ratings
    tmp_mmr1 = [x[1] for x in tmp_mmr]
    
    
    subs = list(np.subtract(np.array(tmp_mr1), np.array(tmp_mmr1)))
    mults = [a*b for a,b in zip(tmp_cw1,subs)]
    sum_cw = (sum(mults))/(sum(tmp_cw1))
    return (mmr_for_user + sum_cw)

In [528]:
predicted_votes_for_user = {}
for i in range(1,1683):
    vote = get_rating_for_user(user_votes, i)
    if math.isnan(float(vote)) == False:
        predicted_votes_for_user[i] = vote

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:36: RuntimeWarning: invalid value encountered in double_scalars

In [529]:
predicted_votes_for_user=sorted(predicted_votes_for_user.items(), key=operator.itemgetter(1))

In [542]:
for x in predicted_votes_for_user[-10:]:
    print(df_item.loc[df_item['movie.id'] ==x[0]]['movie.title'].values[0])

G.I. Jane (1997)
Someone Else's America (1995)
Saint of Fort Washington, The (1993)
Jackal, The (1997)
Santa with Muscles (1996)
Aiqing wansui (1994)
L.A. Confidential (1997)
Boys, Les (1997)
Great Day in Harlem, A (1994)
Titanic (1997)

In [ ]:
#Question 6,
# Soit un utilisateur avec profession, sexe et ages connus respectivement x, y,z

# Pour chaque film, il faudra calculer la probabilite d'avoir un vote pour cet utilisateur en sachant ces donnes

def bayes_method(ratings, condition, item):
    # all ratings for given condition (sex, profession, age)
    condition_ratings = ratings[condition][:].values
    # all ratings for given item
    item_ratings = ratings[:][item].values

    # final probability
    probability = [0, 0, 0, 0, 0]

    # hypothesis:
    # probability for rating (1-5)
    probability_of_rating = [0, 0, 0, 0, 0]

    # ratings frequency for given item
    ratings_frequencies_item = [0, 0, 0, 0, 0]

    # calculate frequency for ratings (for given item)
    for rating in item_ratings:
        # rating is in range (1-5), represented by indexes (0-4)
        ratings_frequencies_item[rating - 1] += 1

    # calculate probability of each rating for given item
    for i in range(5):
        probability_of_rating[i] = ratings_frequencies_item[i] / sum(ratings_frequencies_item)

    # for every movie that user has rated
    # calculate the probability of each rating
    conditional_probabilities = np.zeros((len(condition_ratings), 5))
    for movie, rating in enumerate(condition_ratings):
        item_ratings = ratings[:, movie]
        for i in range(5):
            total_frequency = 0
            # frequency that rating shows for this movie
            for rating in item_ratings:
                if (rating == (i+1)):
                    total_frequency += 1
            # conditional probability = frequency of rating for
            # desired item i / frequency of rating for item j
            if (total_frequency > 0):
                conditional_probabilities[movie][i] = ratings_frequencies_item[i] / total_frequency
            else:
                conditional_probabilities[movie][i] = 0

    # probability of rating i = probability of rating i
    # for desired item * product of conditional probabilities for rating i
    for i in range(5):
        productory = np.prod(conditional_probabilities[:, i])
        probability[i] = probability_of_rating[i] * productory
    return probability

def get_prediction_movie(movies, sex, profession, age):
    ratings_per_profession =df_user_items.pivot_table(values='rating', index='profession', columns='movie.id')
    ratings_per_sex =df_user_items.pivot_table(values='rating', index='sex', columns='movie.id')
    ratings_per_age = df_user_items.pivot_table(values='rating', index='age', columns='movie.id')
    for item in movies
        probabilty_by_sex = bayes_method(ratings_per_sex, sex, item):
        probabilty_by_profession = bayes_method(ratings_per_profession, profession, item):
        probabilty_by_age = bayes_method(ratings_per_age, age, item):
        prediction = np.argmax(np.dot(probabilty_by_sex, probabilty_by_profession, probabilty_by_age)) +  1
        predictions[item] = prediction
    return prediction

In [ ]:
# Question 7

In [575]:
#Get the users who have watched star trek
df_user_items.loc[df_user_items['movie.title'] == 'Star Trek V: The Final Frontier (1989)']['id'].values

array([303, 194,  95,  38, 102, 290, 276,   7,  13,  92, 127, 222, 267,
       279, 145,  28,  44, 268,   5, 130,  56,  70, 295, 307, 275, 158,
       215, 183, 332, 334, 374, 337, 378, 394, 399, 405, 417, 437, 442,
       457, 483, 497, 532, 533, 536, 545, 584, 600, 603, 622, 638, 650,
       664, 702, 757, 774, 796, 807, 823, 843, 896, 922, 943])